<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.mtcs.realtime.server.mapper.RtTaskLastStateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.mtcs.realtime.common.entity.RtTaskLastState">
        <id column="id" property="id" />
        <result column="task_id" property="taskId" />
        <result column="task_version" property="taskVersion" />
        <result column="run_id" property="runId" />
        <result column="ops_id" property="opsId" />
        <result column="monitor_id" property="monitorId" />
        <result column="xxl_job_id" property="xxlJobId" />
        <result column="task_state" property="taskState" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, task_id, task_version, run_id, ops_id, task_state, state
    </sql>

</mapper>
