<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.mtcs.realtime.server.mapper.RtTaskUpdateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ffcs.mtcs.realtime.common.entity.RtTaskUpdate">
        <id column="update_id" property="updateId" />
        <result column="task_id" property="taskId" />
        <result column="task_version_old" property="taskVersionOld" />
        <result column="task_version_new" property="taskVersionNew" />
        <result column="update_state" property="updateState" />
        <result column="update_desc" property="updateDesc" />
        <result column="crt_user" property="crtUser" />
        <result column="crt_team" property="crtTeam" />
        <result column="crt_time" property="crtTime" />
        <result column="mdfy_user" property="mdfyUser" />
        <result column="mdfy_time" property="mdfyTime" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        update_id, task_id, task_version_old, task_version_new, update_state, update_desc, crt_user, crt_team, crt_time, mdfy_user, mdfy_time, state
    </sql>

</mapper>
